<!DOCTYPE html>
<html>
<head>
    <title>Pet Detail</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Pet Detail</h1>
        <a href="/pets" class="add-button">Back to List</a>
    </header>
    <main>
        <section class="pet-detail">
            <img th:src="${pet.imageUrl}" alt="Pet Image">
            <h2 th:text="${pet.nombre}"></h2>
            <p><strong>ID:</strong> <span th:text="${pet.id}"></span></p>
            <p><strong>Breed:</strong> <span th:text="${pet.raza}"></span></p>
            <a href="/pets" class="submit-button">Back to List</a>
        </section>
    </main>
</body>
</html>
